{
  "extends": "google",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "rules": {
        "new-cap": "off",
        "require-jsdoc": "off",
        "max-len": [2, 120]
      }
    }
  ]
}